{% extends '@App/Template/base.html.twig' %}

{% block body %}
    <div id="main">
        <section id="cta" style="padding-top: 20px !important; padding-bottom: 20px;" class="main special">
            <a id="snapgifMobile" href="http://chaturbate.com/in/?track=default&tour=ZmU7&campaign=cniCC">
                <img  alt="snapchat gif" src="{{ asset('assets/images/snapGif.gif') }}" />
            </a>
            <header class="major">
                <form method="POST" action="{{ path('liste', { 'type': 'hot' }) }}">
                    <h1>Pseudos snapchat coquin</h1>
                    <h2>Choisissez une région ci-dessous, ou bien regardez toute la liste</h2>
                <select name='location' id='locationSelect'>
                    {% for location in locations %}
                        <option {% if locationSelected == location.id %} selected="selected" {% endif %} value={{location.id}}>{{location.nom}}</option>
                    {% endfor %}
                </select>
            </header>
            <footer class="major">
                <ul class="actions">
                    <li>
                        <input type="submit" value="Rechercher" />
                    </li>
                </ul>
            </form>
            </footer>
        </section>

        <section id="cta"  style="padding-top: 20px !important;" class="main special">
            <header class="major">
                    <h2> Tous les pseudos V2 </h2>
            </header>
            <footer class="major">
                <ul class="actions">
                    {% for user in users %}
                        {% if user.hot == 2 %}
                            <li class="inliner" >
                                <div class="card">
                                    <img id="logoListe" src={{ asset('assets/images/logosnap.png')}}  alt="Avatar" >
                                    <div class="container">
                                        <h4><b>{{user.login}}</b></h4>
                                    </div>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </footer>
        </section>
    </div>
{% endblock body %}