<!DOCTYPE html>
<html>
    <html>
        <head>
            <!-- Global site tag (gtag.js) - Google Analytics -->
            <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-117560058-1"></script>
            <script>
                window.dataLayer = window.dataLayer || [];
                function gtag() {
                    dataLayer.push(arguments);
                }
                gtag('js', new Date());

                gtag('config', 'UA-117560058-1');
            </script>
            <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
            <script>
                (adsbygoogle = window.adsbygoogle || []).push({
                    google_ad_client: "ca-pub-9354556339780744",
                    enable_page_level_ads: true
                });
            </script>
<script src="https://www.jygotubvpyguak.com/cp/infopops/script.php?submitconfig=0&promo=xcams&product_id=3&subid1=&subid2=&wl_cf1=&brand=y&ur=aHR0cDovL3d3dy54Y2Ftcy5jb20%3D&cf0=pps&cf2=&cfsa2=&lang=fr&bg=%23000000&minicolor_bg=%23000000&bc=%239ADE31&minicolor_bc=%239ADE31&bcc=%239ADE31&minicolor_bcc=%239ADE31&btc=%23000000&minicolor_btc=%23000000&bhc=%239ADE31&minicolor_bhc=%239ADE31&bhtc=%23000000&minicolor_bhtc=%23000000&redirect=chat&ctt=eyJlbiI6IkNoYXQgbm93ISIsImZyIjoiVGNoYXRlciAhIiwiZGUiOiJDaGF0dGUgSmV0enQhIiwibmwiOiJDaGF0IG51ISIsImVzIjoiXHUwMGExQ2hhdGVhciEiLCJpdCI6IkNoYXR0YSBvcmEhIn0%3D&modelSex=F&modelAge=18%2A30&savedConfig=5543&labelConfigOutil=pop+up+bas&product=xcams&temp_no=0&live_feed=on&temp_size=l&visible=25&hidden=10&logo=yes&comfrom=980788"></script>
            <title>SnapHot, liste des pseudo snapchat hot de votre région </title>
            <meta name="description" content="Sur SnapHot trouver des snapchat coquins(ou normaux) classé par régions, rejoignez la communauté !" />
            <meta name="keywords" content="snap hot sexy chaud snapchat rencontre" />
            <meta name="robots" content="all" />
            <meta name="language" content="fr" />
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
            <link rel="stylesheet" href="{{ asset('assets/css/base.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/main.css') }}"/>
            <!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
            <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
            <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/home.css') }}"/>
            <link rel="stylesheet" href="{{ asset('assets/css/liste.css') }}"/>

            <a id="snapgif" href="http://chaturbate.com/in/?track=default&tour=ZmU7&campaign=cniCC">
                <img  alt="snapchat gif" src="{{ asset('assets/images/snapGif.gif') }}" />
            </a>

        </head>

        <body>
            {% block header %}
                <!-- Wrapper -->
                <div class="col-lg-8 col-md-6 col-xs-4" id="wrapper">
                    <!-- Header -->
                    <header id="header"  class="header">
                        <div>
                        <ul id="flexMenu">
                            <li style="width:30%;">
                                    <img alt="snapchat" id='logo' src="{{ asset('assets/images/logosnap.png') }}" /> 
                            </li>
                            <li>
                                    <h1>SnapHot Or Not ?</h1> 
                                <p>Trouvez les utilisateurs snap de votre région<br/>
                            </li>
                        </ul>
                        </div>
                    </header>
                    <!-- Nav -->
                    <div class="col-lg-12 col-md-12 col-xs-12" id="nav">
                        <ul>
                            <li>
                                <a href="{{ path('home')}}">Accueil</a>
                            </li>
                            <li>
                                <a href="{{ path('register') }}">Inscription</a>
                            </li>
                            <li>
                                <a href="{{ path('liste', { 'type': 'normal' }) }}">Liste de pseudo</a>
                            </li>
                            <li>
                                <a href="{{ path('listeHot', { 'type': 'hot' }) }}">Liste de pseudo HOT</a>
                            </li>

                        </ul>
                    </div>
                {% endblock %}
                {% block body %}



                <!-- Scripts -->
                <script src="{{ asset('assets/js/jquery.min.js') }}"></script>
                <script src="{{ asset('assets/js/jquery.scrollex.min.js') }}"></script>
                <script src="{{ asset('assets/js/jquery.scrolly.min.js') }}"></script>
                <script src="{{ asset('assets/js/skel.min.js') }}"></script>
                <script src="{{ asset('assets/js/util.js') }}"></script>
                <!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
                <script src="{{ asset('assets/js/main.js') }}"></script>
                <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
                <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
                <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
            {% endblock %}
        {% block javascripts %}{% endblock %}
    </body>
</html>
